@use "variables" as *;

.aside {
  padding: 3.2rem 2.4rem;
  background-color: $color-neutral-darkblue;

  &__heading {
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 3.2rem;
    font-weight: $fw-bold;
    color: $color-primary-orange;
  }

  &__box {
    &:not(:last-child) {
      border-bottom: 1px solid $color-neutral-offwhite;
      margin-bottom: 3rem;
    }
  }

  &__subheading {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-bottom: 0.8rem;
    font-weight: $fw-extra-bold;
    color: $color-neutral-offwhite;
  }

  &__text {
    color: $color-neutral-grayblue;
    margin-bottom: 3rem;
  }
}
