$color-primary-orange: hsl(35, 77%, 62%);
$color-primary-red: hsl(5, 85%, 63%);

$color-neutral-offwhite: hsl(36, 100%, 99%);
$color-neutral-blue: hsl(233, 8%, 79%);
$color-neutral-grayblue: hsl(236, 13%, 42%);
$color-neutral-darkblue: hsl(240, 100%, 5%);

$main-ff: "Inter", sans-serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-extra-bold: 800;
